<!DOCTYPE html>
<th:block th:replace="~{basic/basicTemplate :: setContent(~{this::content})}" xmlns:th="http://www.w3.org/1999/xhtml">
    <th:block th:fragment="content">

        <link href="https://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.min.css" rel="stylesheet">
        <link rel="stylesheet" th:href="@{/css/default.css}"/>
        <!--        <link rel="stylesheet" th:href="@{/css/address.css}"/>-->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.min.js"></script>

        <script>
            $(document).ready(function (){
                $("#insertAddr").hide();

                //등록창 띄우기
                $("#toInsertBtn").on("click", function (){
                    $("#insertAddr").show();
                });

                //팝업: 취소 버튼 클릭
                $("#cancelBtn").on("click", function (){
                    $("#insertAddr").hide();
                });



            });
            //document ready END

        </script>

        <div class="wrapper">

            <!--Title-->
            <div class="title bold">주소록</div>

            <!--SearchBox-->
            <div class="searchBox temp">
                <div>

                </div>

                <div>
                    <button class="btn">검색</button>
                    <button class="cancelBtn">초기화</button>
                    <button class="btn insert" id="toInsertBtn">등록</button>
                </div>
            </div>
            <!--End search box-->

            <!-- 컨텐츠 -->
            <div>
                <div>
                    <table>
                        <tr>
                            <td>이름</td>
                            <td>연락처</td>
                            <td>주소</td>
                            <td>비고</td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td>연락처</td>
                            <td>주소</td>
                            <td>비고</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- 컨텐츠 END-->

            <!--등록 팝업-->
            <div id="insertAddr">
                <div>
                    <table>
                        <tr>
                            <th>이름</th>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th>연락처</th>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                        <tr>
                            <th>비고</th>
                            <td>
                                <input type="text" />
                            </td>
                        </tr>
                    </table>

                    <!-- 버튼  -->
                    <div>
                        <button id="cancelBtn">취소하기</button>
                        <button id="isnertBtn">등록하기</button>
                    </div>
                    <!-- 버튼 END -->
                </div>
            </div>
            <!--등록 팝업 END-->

        </div>
    </th:block>
</th:block>